# ------------------------
# ENVIRONMENT VARIABLES
# ------------------------
.env

# ------------------------
# VIRTUAL ENV
# ------------------------
venv/
.venv/

# ------------------------
# PYTHON CACHE
# ------------------------
__pycache__/
*.pyc
*.pyo

# ------------------------
# DATABASE FILES
# ------------------------
*.db
*.sqlite
*.sqlite3

# ------------------------
# IDE / SYSTEM
# ------------------------
.vscode/
.idea/
.DS_Store